<h2>{[scramble]s}</h2>
<h3>Scramble Number: {[counter]}</h3>
<button onclick="wasm.nextScramble()">Next Scramble</button>

<style scoped>
  #ScrambleGenerator {{
    color: linen;
    font-family: monospace;
    font-size: 30px;
    max-width: 1000px;
    text-align: center;
  }}

  h3 {{
      font-size: 20px;
  }}
</style>
