<p class="{[state]s}">{[value]d:.2}</p>

<style scoped>
  #Timer {{
    text-align: center;
  }}

  p {{
    font-family: monospace;
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: -1;
  }}

  .stopped {{
    color: cyan;
  }}

  .waiting {{
    color: crimson;
  }}

  .ready {{
    color: mediumspringgreen;
  }}

  .started {{
    color: darkgray;
  }}
</style>
